body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.header {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    font-size: 20px; 
    align-items: center;   
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.logo {
    margin-right: 50px;
    text-decoration: none;
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
    padding: 5px 15px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul > li {
    margin-right: 30px;
}

.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}

a {
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
}

.aside {
    color: lavender;
    padding: 10px 20px;
}

.post {
    padding-bottom: 20px;
}

section {
    background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}

footer {
    font-size: 13px;
    padding: 0 20px;
}

/*  

Логотип окрасить в цвет lightgreen, добавить фон в цвете rebeccapurple и установить начертание 700
Все ссылки на сайте сделать в цвете rebeccapurple c начертанием 700 и отключить нижнее подчеркивание (подсказка: text-decoration: none;)
Во всех заголовках (h1, h2, h3) буквы сделать заглавными и установить для них межбуквенный интервал в значении 0.5px
Для всего сайта установить межстрочный интервал в значении 1.5 (подсказка: указать в body) */
