body {
    background-color: crimson;
}

h1 {
    color: azure;
}

p {
    color: aliceblue;
    font-size: 26px;

}

a {
    text-decoration: none;
    color:chartreuse;
    font-size: 26px;
    line-height: 28px;    
}

ul>li, ol>li  {
    font-size: 26px;
    font-weight: 600;
    color: darkgoldenrod;
    list-style: none;
    
}

